@model Course
<! DOCTYPE html>
<html>
<head>
    <title>Course</title>
</head>
<body>
    <p> name: @Model.Name</p>
    @*<p> description: @Model.Description</p>
    <p> publish state: @Model.isPublished</p>*@
</body>
</html>